// Post collapse
.collection-title
  h1
    margin-left 10px
    color $green-middle
    font-size 28px
    font-style oblique
  ::selection
    background none

.posts-collapse
  .post-header
    &:hover::before 
      background $post-body-link-color
    &:hover
      border-bottom-color $post-body-link-color

.posts-collapse .post-title a
  display inline-block
  position relative
  color $post-body-link-color !important
  border-bottom none
  line-height 2
  vertical-align top
  &::before 
    content ""
    position absolute
    width 100%
    height 2px
    bottom 3px
    left 0
    background-color $blue-bright
    visibility hidden
    transform scaleX(0)
    the-transition()

  &:hover::before 
    visibility visible
    transform scaleX(1)

  &:hover
    background none
    color $gray-lighter !important
  .fa
    font-size 16px

.archive-page-counter
  font-size 16px
  &::selection
    background none

.post-meta
  .post-category span a
    &:hover
      border-bottom-color $blue-bright
  .post-comments-count a
    &:hover
      color $purple-pink
      border-bottom-color $blue-bright
