// Search window popup
// --------------------------------------------------

.search-popup {
  background: $search-window-background-color;

  .search-header {
    background: $search-header-background-color;

  }

  // icon color inside search header
  .search-header span {
    color: $search-header-icon-color;
  }

  .search-result-list a {
    &:hover {
      color: $header-svg-fill-color;
      border-bottom-color: $orange-yellow;
    }
  }
}
