// Sidebar
// --------------------------------------------------

// Use Muse's sidebar style
@import '../Muse/_sidebar';

.sidebar a:hover {
  border-bottom-color: $header-svg-fill-color;
  color: $header-svg-fill-color;
}

.sidebar-toggle:hover .toggle-line {
  background: $header-svg-fill-color;
}
