// Variables of Mist scheme
// ==================================================

// Mala relies on Muse's `$sidebar-desktop`
@import "Muse.styl";

//$link-decoration-color   = $grey-light;
//$content-bg-color        = $whitesmoke;
//$menu-item-bg-color      = $grey-lighter;
//
//$head-bg                 = var(--content-bg-color);
//$brand-color             = $black-deep;
//$brand-hover-color       = $brand-color;
//
//$site-meta-text-align    = left;
//$posts-collapse-left     = 0;
//
//$btn-default-bg                 = transparent;
//$btn-default-color              = var(--link-color);
//$btn-default-hover-bg           = transparent;
//$btn-default-border-color       = var(--link-color);
//$btn-default-hover-color        = var(--link-hover-color);
//$btn-default-hover-border-color = var(--link-hover-color);

// Global text color on <body>
$text-color                     = $grey

// Global link color.
$link-color                     = $grey

// Global border color.
$border-color                   = $grey-light

// Background color for <body>
$body-bg-color                  = $black-middle

// Background color for <header>
$header-bg-color                = $black-low
$header-brand-color             = $gainsboro
$header-menu-hover-color        = $blue
$header-svg-fill-color          = #08d2cdb0

// Background color for <footer>
$footer-bg-color                = $black-low

// Background color for <post title>
$post-title-color               = $gray-lighter
$post-title-link-before-color   = $blue-bright

// <post tags title>
$post-tags-bg-color             = $black-low
$post-tags-text-color           = $gray-lighter
$post-body-link-color 			    = $purple-pink

// Pagination
// --------------------------------------------------
$pagination-active-bg           = $black-light

// selection
$selection-bg					          = $brown-red
$selection-color              	= $orange
$selection-bg-color             = $brown-red
$selection-text-color           = $orange

// copy from Mist.styl
$font-size-headings-base        = 26px

$brand-color                    = $black-deep
$brand-hover-color              = $brand-color

$site-meta-text-align           = left
$posts-collapse-left            = 0

$read-more-color                = $link-color
$read-more-bg-color             = transparent

// Post nav color
$post-nav-color 				        = $blue-bright

// Search popup window
$search-window-background-color = #2e3333
$search-header-background-color = #18adad
$search-header-icon-color       = #282b2b

// Code
$code-font-color                = #00c1a8
$code-background-color          = #222525
$blockquote-bg-color            = #5ca77e

// comments
$comment-nick-color             = $blue-lighter
$comment-select-category        = $grey-white
$comment-text-color             = $blue-green
$comment-email-text-color       = $blue-green
$comment-textarea-bg-color      = #bccaca
$comment-border-color           = #504f4e

// TODO: Update this
// table
$table-row-odd-bg-color         = #333
$table-row-hover-bg-color       = #778899   //Light Slate Gray

table>tbody>tr {
  &:nth-of-type(odd) { background-color: $table-row-odd-bg-color; }
  &:hover { background-color: $table-row-hover-bg-color; }
}
