// Variables of Mala scheme
// =================================================

$black-middle 	= #333
$black-low    	= #444
$blue-lighter   = #4498e7
$orange       	= #fc6423
$gainsboro    	= #eee
$green-middle	= #2be98a
$green-brighter	= #14f114
$grey-white     = #f6eaea
$purple-pink  	= #f92672
$brown-red		= #59201b
$brown-yellow	= #fdb100
$blue-green     = #2fe7bd

$content-desktop              = 850px

// Scaffolding
// Settings for some of the most global styles.
// --------------------------------------------------

// Global text color on <body>
$text-color                   = $grey

// Global link color.
$link-color                   = $grey


// Global border color.
$border-color                 = $grey-light

// Background color for <body>
$body-bg-color                = $black-middle

// Background color for <header>
$header-bg-color              = $black-low
$header-brand-color           = $gainsboro
$header-menu-hover-color      = $blue

// Background color for <footer>
$footer-bg-color              = $black-low

// Background color for <post title>
$post-title-color             = $gray-lighter
$post-title-link-before-color   = $blue-bright

// <post tags title>
$post-tags-bg-color             = $black-low
$post-tags-text-color           = $gray-lighter
$post-body-link-color 			= $purple-pink

// Pagination
// --------------------------------------------------
$pagination-active-bg           = $black-light

// selection
$selection-bg-color             = $brown-red
$selection-text-color           = $orange //$blue-bright

// Font families
//$font-family-base             = Monda, 'PingFang SC', 'Microsoft YaHei', sans-serif
///////////////////////////////////////////////////
// copy from Mist.styl
$font-size-headings-base        = 26px

$brand-color                    = $black-deep
$brand-hover-color              = $brand-color

$site-meta-text-align           = left
$posts-collapse-left            = 0

$read-more-color                = $link-color
$read-more-bg-color             = transparent

// Base global setting
$selection-bg					= $brown-red
$selection-color              	= $orange

// Post nav color
$post-nav-color 				= $blue-bright

//comments
$comment-nick-color             = $blue-lighter
$comment-select-category        = $grey-white
$comment-text-color             = $blue-green
$comment-email-text-color       = $blue-green
