// Custom styles.
//Header
#lang-select
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  -webkit-appearance: menulist-button
  font-size: inherit

//Footer
.footer {
  font-size: 14px;
  color: $grey-dark;
  position: absolute;
  bottom: 0;
  img { border: none; }
}

//Author
.links-of-author {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
