.comments
    margin 28px -40px 0
    padding 33px

.hc__top__like
.hc__top__unlike
  background rgba(176, 190, 205, 0.17) !important

.hc__top__block
  color $gray-lighter !important

.hc__menu__comment__popup
  background rgba(176, 190, 205, 0.17) !important
  div
    color $comment-select-category !important
    &:hover
      color red !important
      background rgba(67, 220, 183, 0.6) !important

.hcc .hc__menu
  .hc__menu__item
    color $grey-light !important
    &:hover
      color $blue-bright !important
    .hc__menu__count
      color $grey-light !important
      &:hover
        color $blue-bright !important
  .hc__menu__line
    background-color red


.hc__reply__box__textarea
.hc__reply__box textarea
  color $comment-text-color !important
  background rgba(176, 190, 205, 0.17) !important

.hc__message__popup
  color $blue-bright !important
  background rgba(176, 190, 205, 0.17) !important

.hc__form__category span
  color $comment-select-category !important

.hc__message__popup__item:hover
  background rgba(67, 220, 183, 0.6) !important

.hc__reply__attach
  .hc__message__popup__item span
    color $grey-white !important
    &:hover
      color red !important

.hc__message__popup__item__txt
  color $grey-white !important

.hc__message__txt
.hc__message__txt b
.hc__message__txt u
.hc__message__txt i
.hc__message__txt s
.hc__message__txt q
.hc__message__txt code
  color $grey !important

.hc__parent
  background rgba(176, 190, 205, 0.17) !important
  color $grey-light !important
  .hc__parent__nick
    color $comment-nick-color !important

.hc__nick
  color $comment-nick-color !important

.hc__footer__wrapf[active=true] input
  color $comment-email-text-color
