// Gittalk comment
// --------------------------------------------------

.gt-container {

  // gittalk little arrow style

  .gt-svg {
    fill: $header-svg-fill-color;
  }
}


// gittalk popup window style
.gt-container .gt-meta .gt-popup {
  background: $search-window-background-color;
  border-color: $comment-border-color;
}

// textarea
.gt-container .gt-header-comment .gt-header-textarea {
  background-color: $comment-textarea-bg-color;
}


// preview button
.gt-container .gt-header-controls .gt-btn-preview {
  color: $black-pure;
  background-color: $comment-textarea-bg-color;
  border-color: $black-dim;
  &:hover {
    background-color: $comment-textarea-bg-color;
    border-color: $header-svg-fill-color;
  }
}

