// Gittalk comment
// --------------------------------------------------

.gt-container {

  // gittalk little arrow style

  .gt-svg {
    fill: $header-svg-fill-color;
  }
}


// gittalk popup window style
.gt-container .gt-meta .gt-popup {
  background: $search-window-background-color;
  border-color: $comment-border-color;

  .gt-action.is--active {
    color: #e08d8d;

    &:hover {
      color: #d8d2d2;
    }

    &::before {
      background: $search-header-background-color;
    }
  }
}

// about-to-comment textarea
.gt-container .gt-header-comment .gt-header-textarea {
  background-color: $comment-textarea-bg-color;
}

// preview button
.gt-container .gt-header-controls .gt-btn-preview {
  color: $black-pure;
  background-color: $comment-textarea-bg-color;
  border-color: $black-dim;

  &:hover {
    background-color: $comment-textarea-bg-color;
    border-color: $header-svg-fill-color;
  }
}

// commented content
.gt-container .gt-comment-admin .gt-comment-content {
  // must use `!important` to override cdn gittalk css due to bad design of gittalk
  background-color: $transparent-color !important;

  border-radius: 5px;

  &:hover {
    box-shadow: 0 0.625em 3.75em 0 $header-svg-fill-color;
  }
}

.gt-comment-content .markdown-body {
  // must use `!important` to override cdn gittalk css due to bad design of gittalk
  p {
    color: var(--text-color) !important;
  }

  a:hover {
    color: $orange-yellow;
  }
}

