// Medium-zoom plugin
// --------------------------------------------------

// We believe this is the simplest way to change the background color with medium-zoom while syncing with upstream
// Note: moved to Mala/_colors.styl
// :root {
//   --content-bg-color: $search-window-background-color;
// }

